---
layout: page
navbar: Life
title: Life
footer: false
---

**Note: As a personal blog, I prefer to use my mother tongue (Chinese) in most cases. If you are interested in some articles but can not understand, let me know through email.**

<div id="blog-archives" itemscope itemtype="http://schema.org/Blog">
<meta itemprop="name" content="{{site.title}}" />
{% if site.description %}<meta itemprop="description" content="{{site.description}}" />{% endif %}
<meta itemprop="url" content="{{site.url}}" />
{% for post in site.posts %}
{% if post.categories contains "life" %}
<article class="page-header" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  {% include archive_post.html %}
</article>
{% endif %}
{% endfor %}
</div>

