---
layout: page
navbar: Technical Blog
title: Technical Blog
footer: false
---

<div id="blog-archives" itemscope itemtype="http://schema.org/Blog">
<meta itemprop="name" content="{{site.title}}" />
{% if site.description %}<meta itemprop="description" content="{{site.description}}" />{% endif %}
<meta itemprop="url" content="{{site.url}}" />
{% for post in site.posts %}
{% if post.categories contains "paper" %}
<article class="page-header" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  {% include archive_post.html %}
</article>
{% endif %}
{% endfor %}
</div>

<ul>
	<li>Paper</a>
	<ul>
	{% for post in site.posts %}
	{% if post.categories contains "paper" %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
        </li>
</ul>
